@charset "UTF-8";
@import '../font/font/stylesheet.css';

  .row.row-cols-1.row-cols-md-3.g-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}
.card-price{
  margin-bottom: 10px;
}
